@media screen and (min-width:500px) {
            * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(245, 245, 245);
        }
        li{
            position: relative;
            list-style: none;
         
        }

.starmembers{
    width: 100%;
}
.starmembers::after{
    content: '';
}
.starmembers .card{
    margin: 25px auto  0;
    height: 80px;
    width: 1230px;
}
.starmembers .card div{
    float: left;
    font-size: 22px;
    font-weight: 100;
    height: 80px;
    line-height: 100px;
    color: black;

}
.starmembers .card .smallbox{
    position: relative;
    float: right;
   
    font-weight: 400;
    height: 80px;
}
.starmembers .card .smallbox div[style]
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:  rgba(176, 176, 176);
    
     right: 0;
    bottom: 20px;
    transition: all 0.4s ;

}
.starmembers .card .smallbox div[style] .icon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height:20px;
    margin: 0;
    color: rgba(231, 231, 231);
    
}
.starmembers .card .smallbox span{
     font-size: 16px;
     width: 68px;
     display: block;
    position: absolute;
    right: 20px;    
    color: black;
    transition: all 0.4s ;
    
   
}
.starmembers .card .smallbox:hover div[style] 
{
    background-color: rgba(240, 241, 241, 0.705);
}
.starmembers .card .smallbox:hover span{
    color: rgba(231, 233, 235, 0.918);
}


.starmembers .members{
    margin: 0 auto;
    width: 1240px;
    height: 628px;
    
}
.starmembers .members .big{
    float: left;
    width: 234px;
    height: 628px;
    background-color: gray;
    transition: all 0.8s;

}
.starmembers .members .big img {
    width: 100%;
    height: 100%;
    cursor: pointer;

}
.starmembers .members .big:hover{
    transform: translate(0,-4px);
    box-shadow: 3px 4px  80px  1px rgba(0,0,0,0.2);
}
.small{
    position: relative;
    float: right;
    margin-right: 15px;
background-color: white;
      width: 234px;
    height:300px;
    transition: all 0.8s;

}
 .small:hover{
         transform: translate(0,-4px);
    box-shadow: 3px 4px  10px  6px rgba(0,0,0,0.5);
 }
.members :nth-child(2),.small:nth-child(6){
    margin-right: 0;
}
.members :nth-child(9),.members :nth-child(8),.members :nth-child(7),.members :nth-child(6)
{
    margin-top: 30px;
}
.small{
    cursor: pointer;
}
.small img{
    margin: 20px auto 0;
    width: 160px;
    height: 160px;
}
.small h3{
    margin-top: 18px;
    height: 21px;
    width: 100%;
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    font-weight: 200px;
    
}
.small .smallhui{
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgb(191,191,191);
}
.small .price{
    margin-top: -5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(255, 117, 23);
    font-size: 16px;

}
.small img{
  width: 180px;
  height: 190px;
  margin-top: 7px;
  transform: translate(0,3px);
  margin-left: 31px;
}
.starmembers {
  margin-top: 90px;
  margin-left: 38px;
}


}
@media screen and (max-width:500px) {
    .big{
        display: none;
    }
.members{
    width: 100vw;
}
.small{
    cursor: pointer;  
    width: 100%;
    text-align: center;
    margin-left: 0;
}

.small img{
    margin-top: 3rem;
  width: 10rem;
  height: 10rem;
}
svg{
    display: none;
}
.starmembers {
  margin-top: 9rem;
  margin-left: 0;
}
.smallbox{
    display: none;
}
.small .smallhui{
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgba(195, 115, 24, 0.849);
}

.small{
    margin-top: 3rem;
background-color: rgba(255, 255, 255, 0.226);
    height:23rem;
    transition: all 0.8s;

}
.small .price{
    margin-top: -5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 116, 23, 0.815);
    font-size: 16px;

}
.card{
    font-size: 2.4rem;
    color: rgba(224, 150, 32, 0.815);
}
}